.separator_blue {
    background: #7f2e08;
}

.separator_in {
    background: #7f2e08;
}

p.para {
    color: #7f2e08;
}
.menu_button:hover {
    color: #7f2e08;
}

.toke_details {
    background: #7f2e08;
}

.join_button {
    background: #7f2e08;
}

.div-block-9 {
    background: #7f2e08;
    border-color: black;
}

.separator_blue2 {
    background: #7f2e08;
}
.block_how {
    width: 100%;
}
.join_footer {
    background: #7f2e08;
}

@media (max-width: 480px) {

    .section_hero {
        margin-top: 60px;
    }
    
    img.booby {
        width: 100%;
        position: relative;
        top: 40px;
    }
    
    .toke_details {
        width: 100%;
    }
    
    img.slider {
        display: none;
    }
    
    .coin_bg {
        height: 0;
    }
    
    img.image-5 {
        object-fit: contain;
        height: auto;
    }
    
    .section_community {
        margin-top: 0 !important;
        padding-top: 0 !IMPORTANT;
    }
    
    p.para-copy {
        color: #7f2e08
;
    }
    
    a.join_footer.w-button {
        background: #7f2e08
 !IMPORTANT;
    }   
    img.image-2 {
        display: block;
        max-width: 100%;
        height: auto;
        z-index: 1; /* Ensure it's above other elements */
    }

    .div-block-15 {
        margin-top: 26px;
        position: relative; /* Add this */
        overflow: visible; /* Add this */
        z-index: 1; /* Add this */
    }
    
    .div-block-10 {
    }
    
    .section_community {
        position: relative;
        top: -70px;
    }
    
    img.booby_footer {
        display: none;
    }
    
    p.para-copy {
        color: white;
        filter: drop-shadow(2px 4px 6px black);
        font-size: 20px;
    }

    img.slider {
        display: block;
        max-width: 100%;
        height: auto;
        z-index: 1;
    }
}